---
---

@import "{{ site.theme }}";

section #title h1 {
	text-transform: uppercase;
	font-size: 0; line-height: 0;

  padding-top: 20vh;
	background-image: url('mozilla-hackerlounge.png');
	background-size: contain;
}

#header {
  visibility: hidden;
}

#title hr, #title .credits:not(hover) {
	opacity: .33;
}
