---
---

@import "{{ site.theme }}";

section {
	margin-top: 0;
}

section #title h1 {
	text-transform: uppercase;
	font-size: 0; line-height: 0;

  padding-top: 20vh;
	background-image: url('../../2017/mozilla-hackerlounge.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#header {
  visibility: hidden;
}

#title hr, #title .credits:not(:hover) {
	opacity: .33;
}

img[alt^="Talk:"], img[alt^="Demo:"] {
	height: 8em;
	float: left;
	margin: 0 1em 1em;
}
img[alt^="Demo:"] {
	margin: 1em 1em .5em 0;
	border: 1px solid #ffcc00;
}

h1,h2,h3 {
	clear: both;
}
